<% content_for :title do %>
	官方活动
<% end %>

<%= render partial: "share/head", locals: { head_title: "特训营" } %>

<div class="activity-content">
	<% 4.times do %>
		<div class="activity-item">
			<p>课件：</p>
			<p>地址：</p>
			<p>时间：</p>
			<p class="clearfix">
				<span class="pull-left">主讲：</span>
					<%= link_to "我要报名", "#", class: "btn btn-default btn-sm pull-right" %>
					<%= link_to "查看详情", "#", class: "btn btn-default btn-sm pull-right" %>
			</p>
		</div>
	<% end %>
</div>

<%= render partial: "share/foot_tab" %>