<% content_for :title do %>
  我的活动
<% end %>

<%= render partial: "share/head", locals: { head_title: "处理申请" } %>
<div class="container">
  <div id="apply-main", class="row apply-content">
    <%= render partial: 'applied' %>
  </div>
</div>