<div class="head text-center">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2 title">
			<%= head_title %>
		</div>
		<div class="col-xs-2 image">
			<%= image_tag("head_add.png", width: 25) %>
		</div>
	</div>
</div>