<nav class="navbar navbar-default search-nav-modal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="btn col-xs-4" data-toggle="collapse" data-target="#bs-address-navbar-collapse-1" aria-expanded="false">
        <span>工作地点</span>
      </div>
      <div class="btn col-xs-4" data-toggle="collapse" data-target="#bs-type-navbar-collapse-1" aria-expanded="false">
        <span>工作类型</span>
      </div>
      <div class="btn col-xs-4" data-toggle="collapse" data-target="#bs-ability-navbar-collapse-1" aria-expanded="false">
        <span>五大能力</span>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-address-navbar-collapse-1">
      <div class="nav navbar-nav">
        <%= select_tag :p, options_for_select(ChinaCity.list), prompt: '--省份--', onChange:'onChangeSum()', class: ['city-select'] %>
        <%= select_tag :c, options_for_select([]), prompt: '--城市--', onChange:'onChangeSum()', class: ['city-select'] %>
      </div>
    </div><!-- /.navbar-collapse -->
    <div class="collapse navbar-collapse" id="bs-type-navbar-collapse-1">
      <div class="nav navbar-nav text-center">
        <div class="col-xs-6 city-div">
          <% search_city.each_with_index do |city, index| %>
            <li class="active city-line">
              <%= link_to "#{city.first}", search_city_tasks_path(index), remote: true, format: :js %>
            </li>
          <% end %>
        </div>
        <div class="col-xs-6" id="search_city_line"></div>
      </div>
    </div><!-- /.navbar-collapse -->
    <div class="collapse navbar-collapse" id="bs-ability-navbar-collapse-1">
      <div class="nav navbar-nav text-center">
        <li class="active"><a href="#">不限<span class="sr-only">(current)</span></a></li>
        <li><a href="#">形象力</a></li>
        <li><a href="#">沟通力</a></li>
        <li><a href="#">决策力</a></li>
        <li><a href="#">控制力</a></li>
        <li><a href="#">协作力</a></li>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
