<nav class="navbar navbar-default search-nav-modal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="btn col-xs-4" data-toggle="collapse" data-target="#bs-address-navbar-collapse-1" aria-expanded="false">
        <span>工作地点</span>
      </div>
      <div class="btn col-xs-4" data-toggle="collapse" data-target="#bs-type-navbar-collapse-1" aria-expanded="false">
        <span>工作类型</span>
      </div>
      <div class="btn col-xs-4" data-toggle="collapse" data-target="#bs-ability-navbar-collapse-1" aria-expanded="false">
        <span>五大能力</span>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-address-navbar-collapse-1">
      <div class="nav navbar-nav text-center">
        <div class="col-xs-6 city-div">
          <% cities.each do |city| %>
            <li class="city-line">
              <%= link_to "#{city.first}", search_city_tasks_path(province: city.first), remote: true, format: :js %>
            </li>
          <% end %>
        </div>
        <div class="col-xs-6 city-div" id="city_line"></div>
      </div>
    </div><!-- /.navbar-collapse -->

    <div class="collapse navbar-collapse" id="bs-type-navbar-collapse-1">
      <div class="nav navbar-nav text-center">
        <div class="col-xs-6 city-div">
          <% search_type.each do |type| %>
            <li class="city-line">
              <%= link_to "#{type.first}", search_city_tasks_path(option: type.first), remote: true, format: :js %>
            </li>
          <% end %>
        </div>
        <div class="col-xs-6 city-div" id="search_city_line"></div>
      </div>
    </div><!-- /.navbar-collapse -->

    <div class="collapse navbar-collapse" id="bs-ability-navbar-collapse-1">
      <div class="nav navbar-nav text-center">
        <li class="active city-line"><a href="#">不限<span class="sr-only">(current)</span></a></li>
        <li class="city-line"><a href="#">形象力</a></li>
        <li class="city-line"><a href="#">沟通力</a></li>
        <li class="city-line"><a href="#">决策力</a></li>
        <li class="city-line"><a href="#">控制力</a></li>
        <li class="city-line"><a href="#">协作力</a></li>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script type="text/javascript">
  $('.btn').click(function(){
    $('#bs-address-navbar-collapse-1').collapse('hide');
    $('#bs-type-navbar-collapse-1').collapse('hide');
    $('#bs-ability-navbar-collapse-1').collapse('hide');
  });
</script>