<%= render partial: "share/head", locals: { head_title: "所有任务", url: new_task_path } %>

<div class="search-nav">
  <%= render partial: "search_nav" %>
</div>

<div class="container" id="task-index">
  <%= render partial: "task_index" %>  
</div>