<div id="myModal" class="modal fade myModal-col col-xs-10 col-xs-offset-1 bs-know-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog myModal1">
    <div class="modal-content">
      <div class="modal-body modal-search">
        <h5 style="color:#019BFF">知识值:</h5>
        知识值只是对能力的了解。是通过注册时提示的五大能力答题来获得分数值，通过答对题目的比例来显示分数组成五芒星。
      </div>
    </div>
  </div>
</div>
<div id="myModal2" class="modal fade myModal-col col-xs-10 col-xs-offset-1 bs-experience-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog myModal1">
    <div class="modal-content">
      <div class="modal-body modal-search">
        <h5 style="color:#019BFF">经验值:</h5>
        经验值只是对能力的拓展。是通过做任务时提示的五大能力奖励来获得分数值，通过得分的比例来显示分数组成五芒星。
      </div>
    </div>
  </div>
</div>