<% content_for :title do %>
  用户注册
<% end %>
<%= simple_form_for(@user, url: user_path(@user), html: { method: :patch }) do |f| %>
  <%= f.hidden_field :open_id, value: session[:openid] %>
  <div class="col-xs-12 input-btn">
    <%= f.submit "一键注册！", class: "btn btn-blue btn-block text-center" %>
  </div>  
 <!--  <div class="col-xs-12 input-btn">
    <%#= link_to user_path do %>
      <botton class="btn btn-blue btn-block"><div class="text-center">&nbsp;&nbsp;一键注册！</div></botton>
    <% #end %>
  </div> -->
<% end %>