<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 logo_bg">
      <div class="row text-center">
        <div class="col-xs-4 col-xs-offset-4"><%= image_tag "logo.png", class: "",width:"100%" %>
        </div>
        <div class="col-xs-12"><h2 class="title">菜鸟烩</h2></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 input-a">
      <input type="text" class="form-control input-login" placeholder="手机号码">
      <div class="input-group">
        <input type="text" class="form-control input-login" placeholder="验证码">
        <span class="input-group-btn ">
          <button class="btn btn-primary btn-login" type="button">获取验证码</button>
        </span>
      </div>
    </div>
    <div class="col-xs-12 input-a">
        <button class="btn btn-primary btn-lg btn-block btn-login" type="button">我要注册</button>
    </div>
  </div>
</div>