<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 personal_bg">
      <div class="row text-center">
        <div class="col-xs-4 col-xs-offset-4"><%= image_tag "logo.png", class: "",width:"100%" %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "base_info_form" %>
</div>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> -->
<div class="row">
  <div id="myModal" class="modal fade myModal-col col-xs-10 col-xs-offset-1 bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog myModal1">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center">问卷调查</h3>
        </div>
        <div class="modal-body">
          <h4>请问您是通过什么渠道知道菜鸟烩的呢？</h4>
          <div class="radio modal-radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              朋友圈的转发文章
            </label>
          </div>
          <div class="radio modal-radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              校园公开课
            </label>
          </div>
          <div class="radio modal-radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              好友推荐
            </label>
          </div>
          <div class="radio modal-radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              其他
            </label>
          </div>
          <div class="modal-input">
            <input type="text" class="form-control text-center" placeholder="请输入描述的文字" />
          </div>
          <button type="button" class="btn btn-enter btn-primary">确定</button>
          <button type="button" class="btn btn-del btn-default" data-dismiss="modal">取消</button>
          <div class="boypic">
            <%= image_tag "girl.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>