<% if @success %>
	$("#sign_t").html('<button class="btn btn-blue" disabled="disabled">今日已签到,明天再来吧！</button>');
	$("#coin_<%= @user.id %>").text("鸟币：<%= @coin %>");
	$("#experience_<%= @user.id %>").text("<%= @experience %>");
<% else %>
	alert("签到失败，请联系我们，谢谢！");
<% end %>