<% if @user_id.nil? %>
	$("#sign_t").html('<button class="btn btn-info btn-lg" disabled="disabled">今日已签到,明天再来吧！</button>');
	$("#coin_<%= @user_id %>").text("鸟币：<%= @coin %>");
	$("#experience_<%= @user_id %>").text("<%= raw('&nbsp;&nbsp;经验值：@experience') %>");
<% else %>
	alert("签到失败，请联系我们，谢谢！");
<% end %>
