<div class="col-xs-offset-2">
  <div class="media">
    <div class="media-left media-middle">
      <%=image_tag("logo.png",width:"80")%>
    </div>
    <div class="media-body" id="my-body">
      <p>姓名：<%= current_user.nickname %> &nbsp;&nbsp;<small><%= User::ROLE[current_user.role.to_sym] %></small></p>
      <p>编号：CNH15<%= current_user.id %></p>
    </div>
  </div>
</div>