.tests-table > th{
	text-align: center;
}
.problem{
	max-width: 500px;
}
.image-problem{
	max-width: 300px;
}
.image_form{
	.file{
		margin-bottom: 10px !important;
		margin-right: 0 !important;
		border: none !important;
	}
	.control-label{
		text-align: right;
		line-height: 32px;
	}
	.file-preview {
		width: 100%;
	}
	.file-caption-name{
		width: 70%;
	}
}

// 支持火狐浏览器的表格响应式
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

// Permission表格样式
.admin-permission-table > tr > td {
	line-height: 27px !important;
}