<div class="row">
	<div class="col-xs-12">
		<%= simple_form_for(:question, url: import_create_admin_questions_path, html: { class: "form-horizontal", multipart: true }) do |f| %>
			<div class="row">
				<div class="col-xs-6"><%= file_field_tag :attachment %></div>
				<div class="col-xs-6">
					<%= link_to "导入模板下载", URI.encode('/excels/试题导入模板.xls'), class: "btn btn-info pull-right" %>
				</div>
			</div>
			<br>
      <%= f.submit "导入试卷", class: "btn btn-primary btn-block",
      												data: { disable_with: "正在导入..." },
      											  onclick: "if($('#attachment').val()==''){alert('请选择要上传的文件');return false;}" %>
    <% end %>
	</div>
</div>