<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 personal_bg">
      <div class="row text-center">
        <div class="col-xs-4 col-xs-offset-4"><%= image_tag "logo.png", class: "",width:"100%" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="dropdown">
      <button class="btn btn-lg btn-block btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        性别
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">男</a></li>
        <li><a href="#">女</a></li>
      </ul>
    </div>
  </div>
</div>