<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 personal_bg">
      <div class="row text-center">
        <div class="col-xs-4 col-xs-offset-4"><%= image_tag "logo.png", class: "",width:"100%" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="label-text">
      <input type="text" class="form-control label-input" placeholder="昵称">
    </div>
    <div class="dropdown label-text">
      <button class="btn btn-lg btn-block btn-default dropdown-toggle label-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="pull-left" >性别</span>
        <span class="pull-right"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="text-center"><a href="#">男</a></li>
        <li class="text-center"><a href="#">女</a></li>
      </ul>
    </div>
    <div class="label-text">
      <input type="text" class="form-control label-input" placeholder="年龄">
    </div>
    <div class="label-text">
      <input type="month" class="form-control label-input" placeholder="生日" />
    </div>
    <div class="dropdown label-text">
      <button class="btn btn-lg btn-block btn-default dropdown-toggle label-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="pull-left">星座</span>
        <span class="pull-right"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="text-center"><a href="#">天蝎座♏️</a></li>
        <li class="text-center"><a href="#">处女座♍️</a></li>
      </ul>
    </div>
    <div class="dropdown label-text">
      <button class="btn btn-lg btn-block btn-default dropdown-toggle label-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="pull-left">民族</span>
        <span class="pull-right"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="text-center"><a href="#">汉族</a></li>
        <li class="text-center"><a href="#">羌族</a></li>
      </ul>
    </div>
    <div class="label-text">
      <input type="text" class="form-control label-input" placeholder="籍贯">
    </div>
    <div class="dropdown label-text">
      <button class="btn btn-lg btn-block btn-default dropdown-toggle label-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="pull-left">现居地</span>
        <span class="pull-right"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="text-center"><a href="#">上海</a></li>
        <li class="text-center"><a href="#">珠海</a></li>
      </ul>
    </div>
    <div class="dropdown label-text">
      <button class="btn btn-lg btn-block btn-default dropdown-toggle label-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="pull-left">户口地</span>
        <span class="pull-right"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="text-center"><a href="#">上海</a></li>
        <li class="text-center"><a href="#">北京</a></li>
      </ul>
    </div>
  </div>
</div>