<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 personal_bg">
      <div class="row text-center">
        <div class="col-xs-4 col-xs-offset-4"><%= image_tag "logo.png", class: "",width:"100%" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="label-text">
      <input type="text" class="form-control label-input" placeholder="昵称">
    </div>
    <div class="dropdown label-text">
      <button class="btn btn-lg btn-block btn-default dropdown-toggle label-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="pull-left" >性别</span>
        <span class="pull-right"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="text-center"><a href="#">男</a></li>
        <li class="text-center"><a href="#">女</a></li>
      </ul>
    </div>
    <div class="label-text">
      <input type="text" class="form-control label-input" placeholder="年龄">
    </div>
    <div class="label-text">
      <!-- <input type="text" id="txt_date" value="2013/01/22"/> -->
      <!-- <input type="month" id="date" class="form-control label-input" placeholder="生日" /> -->
    </div>
    <div class="dropdown label-text">
      <button class="btn btn-lg btn-block btn-default dropdown-toggle label-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="pull-left">星座</span>
        <span class="pull-right"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="text-center"><a href="#">天蝎座♏️</a></li>
        <li class="text-center"><a href="#">处女座♍️</a></li>
      </ul>
    </div>
    <div class="dropdown label-text">
      <button class="btn btn-lg btn-block btn-default dropdown-toggle label-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="pull-left">民族</span>
        <span class="pull-right"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="text-center"><a href="#">汉族</a></li>
        <li class="text-center"><a href="#">羌族</a></li>
      </ul>
    </div>
    <div class="label-text">
      <input type="text" class="form-control label-input" placeholder="籍贯">
    </div>
    <div class="dropdown label-text">
      <button class="btn btn-lg btn-block btn-default dropdown-toggle label-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="pull-left">现居地</span>
        <span class="pull-right"><span class="caret"></span></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="text-center"><a href="#">上海</a></li>
        <li class="text-center"><a href="#">珠海</a></li>
      </ul>
    </div>
    <div class="col-xs-12 input-a">
        <button class="btn btn-primary btn-lg btn-block btn-login" type="button">我要注册</button>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>
<div class="row">
  <div id="myModal" class="modal fade myModal-col col-xs-10 col-xs-offset-1 bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog myModal1">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center">问卷调查</h3>
        </div>
        <div class="modal-body">
          <h4>请问您是通过什么渠道知道菜鸟烩的呢？</h4>
          <div class="radio modal-radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              朋友圈的转发文章
            </label>
          </div>
          <div class="radio modal-radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              校园公开课
            </label>
          </div>
          <div class="radio modal-radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              好友推荐
            </label>
          </div>
          <div class="radio modal-radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              其他
            </label>
          </div>
          <div class="modal-input">
            <input type="text" class="form-control text-center" placeholder="请输入描述的文字" />
          </div>
          <button type="button" class="btn btn-enter btn-primary">确定</button>
          <button type="button" class="btn btn-del btn-default" data-dismiss="modal">取消</button>
          <div class="boypic">
            <%= image_tag "girl.png" %>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<script type="text/javascript">
    var selectDate = new MobileSelectDate();
    selectDate.init({trigger:'#txt_date',value:'2011/03/02',min:'1990/01/01',max:'2016/02/11'});
</script>