/** 公用 **/
$color_white: #fff;

/** 【官方活动】模块 **/
$foot_tab_bg: #292929;
$boday_bg: #f8f8f8;
$activity_item_border: #d1d1d1;
$icon_green: #13b073;
$btn_green: #69cd65;
$btn_blue: #339cff;
$btn_red: #ff3333;

/** 测试 **/
$head_bg: #1b9dff;

//bootstrap btn
$btn-border-radius-base: 0;