/** 公用 **/
$color_white: #fff;

/** 【官方活动】模块 **/
$foot_tab_bg: #292929;
$boday_bg: #f8f8f8;
$activity_item_border: #d1d1d1;
$icon-green: #13b073;
$btn-green: #69cd65;
$btn-blue: #339cff;
$btn-red: #ff3333;
