<% content_for :title do %>
  我的关注
<% end %>

<%= render partial: "share/head", locals: { head_title: "我的关注", url: "#" } %>

<div class="container">
  <div id="apply-main", class="row apply-content">
    <%= render partial: 'focus' %>
  </div>
</div>