@import "variables";
.pages__index{
	font-size: 18px;
	font-weight: 500;
	.pages-head{
		background-color: #1b9dff;
		font-weight: normal;
		padding: 8% 0;
		#my-body {
			padding-top: 10px;
			color: #fff;
			small {
				color: #ebe740;
				border-bottom: 1px solid #ebe740;
			}
		}
	}
	ul{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		li{
		list-style: none;
			a{
				color: #373737;
				display: block;
				height: 60px;
				line-height: 60px;
				&:hover {
					text-decoration: none;
				}
				.mygt{
					padding-right: 20px;
					#badge{
						background-color: red;
						font-size: 14px;
						font-weight: normal;
						margin-right: 10px;
					}
				}
			}
		}
		padding: 20px;
		.divide {
			border-top:1px solid #aeaeae;
			margin: 0;
		}
		img {
			margin: 0 15px;
			width: 5%;
		}
	}
}

.pages__resume{
	background-color: #f2f2f2;
	.pages-head{
		background-color: #1b9dff;
		font-weight: normal;
		padding: 8% 0;
	}
	#my-body{
		padding-top: 10px;
		color: #fff;
	}
	#divide{
		margin: 10px;
		border-top:1px solid #E0E0E0;
	}
	.my-infos{
		padding: 0 12%;

		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	.resume-title{
		font-size: 16px;
		font-weight: bold;
		padding-top: 5px;
		padding-bottom: 5px;
		a{
			color: $tab-active;
		}
	}
	.my-btn{
		margin: 15px 0;
		#mybtn{
			background-color: #379CFF;
			padding: 6px 25%;
			border: none;
			border-radius: 0; 
		}
	}
}