.form-text {
  .form-input {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  select {
    border: none;
    background-color: #fff;
    width: 80%;
  }
}
.line {
  border: 1px solid #CFCFCF;
  margin: 5px 8px 10px 8px;
}
.tag-show {
  span {
    margin-right: 10px;
  }
}
.form-input-group {
  padding: 10px 15px 0 15px !important;
  .form-input {
    border-radius: 0;
  }
  .input-group-btn {
    padding-left: 8px;
    border-radius: 0;
    .btn-task {
      background-color: #389EFF;
      border: none;
      border-radius: 0;
    }
  }
}

//show pages
.icon {
  padding: 0 6px 4px 0;
}
.gift-title {
  margin-bottom: 10px;
  font-size: 13px;
}
.task-tabshow {
  padding-left: 30px;
}
.task-btn {
  background-color: #3287FF;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
}
.task-description {
  padding: 5px 30px 20px 30px;
}

//index pages
.btn-detail {
  color: #39A0FF;
  border-color: #39A0FF;
}
.tasks-content{
  overflow: auto;
  padding-top: 15px;
  .tasks-item {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding: 10px 30px;
    margin-bottom: 15px;
    background-color: #fff;
  } 
}