@import "variables";

.test-btn{
	padding: 0 30px;
	position: fixed;
	left: 0;
	bottom: 30px;
	width: 100%;
	z-index: 10;
}
/** tests#new **/
.tests__new{
	overflow-x: hidden;
	.test-head{
		padding: 0 20px;
		font-size: 16px;
	}
	.test-question{
		position: absolute;
		float: left;
		font-size: 16px;
		padding: 0 30px 20px;
		line-height: 2;
		z-index: 1;
		.problem{
			padding: 20px 0;
		}
		.answer{
			padding-bottom: 40px;
			.p-l-0{
				padding-left: 0;
			}
			.p-r-0{
				padding-right: 0;
			}
			label{
				font-weight: normal;
				img{
					width: 100%;
					margin-top: 10px;
				}
			}
		}
	}
	.next-btn, .commit-btn{
		background-color: $btn_blue;
		font-size: 16px;
	}
}

/** tests#result **/
.tests__result{
	.result-head{
		height: 100px;
		line-height: 100px;
		text-align: center;
		background-color: $head_bg;
	}
	.result-content{
		padding: 30px;
		.score{
			color: $head_bg;
			font-size: 24px;
		}
		h3{
			color: $head_bg;
		}
		p{
			font-size: 16px;
			line-height: 2;
			text-align: justify;
		}
	}
}