* { box-sizing: border-box; -webkit-box-sizing: border-box; }

$lightgrey:     #eee;
$midgrey:       #aaa;
$darkgrey:      #777;
$teal:          #009970;
$lightteal:     #00b18b;
$white:         #fff;

body, html { width: 100%; height: 100%; }

.wrapper { position: relative; padding: 50px 5%; background: $midgrey; margin: 2%; overflow: hidden;}

.timeline { position: absolute; width: 4px; top: 25px; bottom: 25px; left: 50%; margin-left: -2px; background: $lightgrey; transition: 600ms cubic-bezier(.68,-0.67,.14,1.51); }
.timeline:after { content: " "; width: 50px; height: 50px; position: absolute; background: $lightgrey; border-radius: 50%; bottom: -50px; left: -23px; }
.timeline:before { content: " "; width: 50px; height: 50px; position: absolute; background: $lightgrey; border-radius: 50%; left: -23px; top: -50px; }

.momentscontainer { padding-top: 40px; margin: auto; max-width: 1200px; }

.moment { background: rgba(0,153,112,1);
background: -moz-linear-gradient(-45deg, rgba(0,153,112,1) 0%, rgba(0,184,147,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,153,112,1)), color-stop(100%, rgba(0,184,147,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,153,112,1) 0%, rgba(0,184,147,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,153,112,1) 0%, rgba(0,184,147,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,153,112,1) 0%, rgba(0,184,147,1) 100%);
background: linear-gradient(135deg, rgba(0,153,112,1) 0%, rgba(0,184,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009970', endColorstr='#00b893', GradientType=1 ); }
.moment { clear: both; color: $white; padding: 25px 40px 30px; width: 50%; margin: -10% -30px 40px; position: relative; transition: 800ms cubic-bezier(.68,-0.67,.14,1.51); }
.moment:first-child { margin-top: 0; }
.moment.right { float: right; }
.moment.left { float: left; }
.moment:after { content: " "; width: 0; height: 0; border-style: solid; border-width: 7.5px 15px 7.5px 0; border-color: transparent $teal transparent transparent; position: absolute; top: 20px; left: -15px; }
.moment:before { content: " "; position: absolute; top: 11px; left: -46px; background: $white; height: 20px; width: 20px; border-radius: 50%; border: 6px solid $midgrey; }
.moment.left:before { left: auto; right: -46px; }
.moment.left:after { left: auto; right: -15px; border-width: 7.5px 0 7.5px 15px; border-color: transparent transparent transparent $lightteal; }

.date { position: absolute; top: -40px; width: 100%; }
.moment.right .date { text-align: left; right: 0; }
.moment.left .date { text-align: right; left: 0; }
.date h4 { letter-spacing: 2px; text-transform: uppercase; font-size: 11px; font-weight: 200; color: $white;  }

.name { font-weight: 200; line-height: 1; }
.desc { @extend .name; font-size: 13px; line-height: 1.5; }

@media screen and (min-width: 1200px) {
  .moment { margin-top: -80px; }
}

@media screen and (max-width: 600px) {
  .moment { margin: 25px 0 25px 30px; width: 95%; transition: 700ms cubic-bezier(.48,-0.67,.14,1.21); }
  .moment.left, .moment.right { float: left; }
  .moment.left .date { text-align: left; left: 0; }
  .moment.left:before { right: auto; left: -47px; }
  .moment.left:after { right: auto; left: -15px; border-width: 7.5px 15px 7.5px 0; border-color: transparent $teal transparent transparent; }
  .moment.right:before { left: -47px; }
  
  .timeline { left: 5%; }
}