<% content_for :title do %>
  用户注册
<% end %>
<div class="col-xs-12 input-btn">
  <%= link_to new_user_path do %>
    <botton class="btn btn-blue btn-block"><div class="text-center">&nbsp;&nbsp;一键注册！</div></botton>
  <% end %>
</div>